/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

/* WRAPPERS */
.wrapper {
  background: #fceddb;
  width: 100vw;
  height: 100vh;
}

.label_images_wrapper {
  display: flex;
  padding: 20px;
}

/* WALL */
.wall {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

/* LIGHTS */
.lights {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

/* LABEL CARD */
.label {
  width: 20vw;
  padding: 10px;
  border-radius: 3px;
  background: white;
  color: black;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.title, .subtitle {
  color: #bf6524;
}

.title, .medium, .process_intention {
  padding-bottom: 15px;
}

/* IMAGES */
.images_wrapper {
  margin-left: 25px;
}

.frame {
  border: 10px solid #1e2a4e;
  border-radius: 5px;
  max-height: 65vh;
  max-width: 45vw;
}

iframe, .frame embed {
  height: 65vh;
  width: 45vw;
}

.thumbnail_images {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0;
  margin: 0 0 10px 0;
}

.thumbnail_images li {
  margin-right: 20px;
  list-style: none;
}

.thumbnail_images img {
  width: 10vh;
  height: 10vh;
}

/* SHADOWS */
.frame, .label {
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
}
