/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
}

/* WRAPPERS */
.outer_wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 800vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

/* GALLERY NAME */
.gallery_sign {
  position: absolute;
  left: 50%;
  padding: 3vh;
  font-size: 12vh;
  width: 35vw;
  font-family: 'Bebas Neue', cursive;
  display: flex;
}
.arrow_sign {
  font-size: 12vw;
  animation: point 10s infinite;
}

@keyframes point {
  0%, 50%, 100% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  25%, 75% {
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
  }
}

/* RECEPTION */
.receptionist {
  position: absolute;
  bottom: 34vh;
  left: 22vw;
  height: 14vh;
  width: 8vw;
  text-align: center;
  vertical-align: middle;
  font-size: 2vh;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* TICKETING BOARD */
#ticket_board {
  width: 40vw;
  color: white;
  padding: 1vw;
}
.board_section {
  float: left;
  padding: 0 1vw;
  font-size: 1.5vw;
}
.board_section a {
  color: white;
}
.board_section a:hover {
  color: #ff873f;
}
.board_header {
  font-size: 2.5vw;
  text-align: center;
  padding-bottom: 2vh;
}
.board_subheader {
  color: #ffa500;
  min-height: 4vh;
  font-size: 1.5vw;
}

/* GALLERY WALLS */
.wall {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: 100vw 100vh;
}
.ticket_wall {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/ticket_booth_wall.png");
}
.plain_wall {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/plain_wall.png");
}
.right_wall {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/right_wall.png");
}
.left_wall {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/left_wall.png");
}
.mid_wall {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/mid_wall.png");
}
.door_wall {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/door_wall.png");
}

/* SECURITY POLES */
.pole {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/single_pole.png");
  height: 55vh;
}
.poles {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/poles.png");
  height: 40vh;
}
.pole, .poles {
  background-repeat: no-repeat;
  width: 100vw;
  position: absolute;
  bottom: 15vh;
  z-index: 1;
}
#poles_1 {
  left: 58vw;
}
#poles_2 {
  right: -58vw;
}
#poles_3 {
  left: 32vw;
  display: none;
}
#poles_4 {
  left: 5vw;
}
#pole_1 {
  left: 30vw;
}
#pole_2 {
  left: -10vw;
}
#pole_3 {
  right: 30vw;
}

/* PICTURE FRAMES */
.frame {
  position: absolute;
  border: 9px solid #1e2a4e;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: -10px 10px 7px -3px #616161;
  -moz-box-shadow: -10px 10px 7px -3px #616161;
  -webkit-box-shadow: -10px 10px 7px -3px #616161;
  -o-box-shadow: -10px 10px 7px -3px #616161;
}
.frame:hover {
  cursor: pointer;
}
.frame:after {
  content: "View details";
  position: absolute;
  width: 5vw;
  top: 2vh;
  left: -7vw;
  padding: 0.5vh;
  border-radius: 2px;
  background: white;
  color: black;
  font-size: 1.8vh;
  text-align: center;
  box-shadow: -5px 4px 5px -3px #616161;
  -moz-box-shadow: -5px 4px 5px -3px #616161;
  -webkit-box-shadow: -5px 4px 5px -3px #616161;
  -o-box-shadow: -5px 4px 5px -3px #616161;
}
#frame_1 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/digital_art/swimmer.jpg");
  height: 45vh;
  width: 23vw;
  top: 3vh;
  left: 14vw;
}
#frame_1:after {
  content: "The Swimmer: view details";
}
#frame_2 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/character_design/family.jpg");
  height: 40vh;
  width: 23vw;
  top: 4vh;
  left: 53vw;
}
#frame_2:after {
  content: "The Family: view details";
}
#frame_3 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/painting/identity_crisis.jpg");
  height: 29vh;
  width: 55vw;
  top: 10vh;
  left: -8vw;
}
#frame_3:after {
  content: "Identity Crisis: view details";
}
#frame_4 {
  top: 10vh;
  right: -2vw;
  z-index: 1;
  border: none;
  box-shadow: none;
}
#frame_4:after {
  content: "To Clay: view details";
}
#frame_4 iframe {
  height: 50vh;
  width: 30vw;
  border: 9px solid #1e2a4e;
  box-shadow: -10px 10px 7px -3px #616161;
  -moz-box-shadow: -10px 10px 7px -3px #616161;
  -webkit-box-shadow: -10px 10px 7px -3px #616161;
  -o-box-shadow: -10px 10px 7px -3px #616161;
}
#frame_5 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/css_art/house.gif");
  height: 40vh;
  width: 22vw;
  top: 7vh;
  left: 35vw;
}
#frame_5:after {
  content: "The House: view details";
}
#frame_6 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/pencil/building_sketch.png");
  height: 40vh;
  width: 19vw;
  top: 7vh;
  right: 8vw;
}
#frame_6:after {
  content: "The Building: view details";
}
#frame_7 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/3d_modelling/preview_recording.gif");
  height: 38vh;
  width: 22vw;
  top: 9vh;
  left: 14vw;
}
#frame_7:after {
  visibility: hidden;
}
#frame_8 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/3d_modelling/rendered_statue.png");
  height: 23vh;
  width: 9.5vw;
  bottom: 45.5vh;
  left: 45vw;
  border: none;
  box-shadow: none;
}
#frame_8:after {
  content: 'The Boy: view details';
  left: 2vw;
  top: 30vh;
}
#frame_9 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/3d_modelling/preview_recording.gif");
  height: 38vh;
  width: 22vw;
  top: 9vh;
  right: 15vw;
}
#frame_9:after {
  visibility: hidden;
}
#frame_10 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/website_poster.png");
  height: 37vh;
  width: 17vw;
  top: 4vh;
  left: 8vw;
}
#frame_10:after {
  content: "The Future: view details";
}
#frame_11 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/react_app/food_planet.gif");
  height: 37vh;
  width: 20vw;
  top: 4vh;
  left: 38vw;
}
#frame_11:after {
  content: "The Food Planet: view details";
}
#frame_12 {
  background-image: url("https://yejiweji.github.io/yejinoh/src/portfolio_website/podium.png");
  height: 37vh;
  width: 17vw;
  top: 4vh;
  left: 70vw;
}
#frame_12:after {
  content: "INSERT INSERT: view details";
}

/* PODIUM */
.podium {
  height: 50vh;
  width: 20vw;
  position: absolute;
  bottom: -1vh;
  left: 37vw;
}

/* LIGHTS */
.lights {
  height: 10vh;
  width: 25vw;
  position: absolute;
  top: 0;
  z-index: 2;
}
.lights img {
  width: 100%;
}
.lights:before {
  content: "";
  height: 5vh;
  width: 18vw;
  background: #fef0c8;
  opacity: 0.3;
  border-radius: 70%;
  display: block;
  position: inherit;
  top: 40px;
  right: 0;
  -webkit-box-shadow: 0 0 15px 15px #fef0c8;
  -moz-box-shadow: 0 0 15px 15px #fef0c8;
  box-shadow: 0 0 15px 15px #fef0c8;
  animation: glow 1.4s linear infinite alternate;
}
@keyframes glow {
  to {
    -webkit-box-shadow: 0 0 60px 60px #fef0c8;
    -moz-box-shadow: 0 0 60px 60px #fef0c8;
    box-shadow: 0 0 60px 60px #fef0c8;
  }
}
#lights_1 { left: calc(14vw + 0vw); }
#lights_2 { left: calc(53vw + 0vw); }
#lights_3 { left: -4vw; }
#lights_4 { left: 22vw; }
#lights_5 { right: calc(2vw); }
#lights_6 { left: calc(35vw + 0vw); }
#lights_7 { right: calc(8vw - 2vw); }
#lights_8 { left: calc(14vw + 0vw); }
#lights_9 { left: calc(45vw - 7.5vw); }
#lights_10 { right: calc(15vw - 1vw); }
#lights_11 { left: 5vw; }
#lights_12 { left: 36vw; }
#lights_13 { left: 67vw; }
#lights_14 { left: 35vw; }
#lights_15 { left: -11.5vw; }
#lights_16 { left: 41vw; }

/* POST-EXHIBITION */
.letter_of_intent_section, .cv_section, .reference_letters_section {
  position: absolute;
  top: 10vh;
  margin: 1vh;
  display: flex;
}
.letter_of_intent_section {
  left: 30vw;
}
.author_logo {
  width: 10vw;
  margin: auto;
  margin-left: 3vh;
}
.wall_panel {
  max-width: 7vw;
  font-size: 1.5vw;
  background: white;
  text-align: center;
  padding: 3vh;
  box-shadow: -10px 10px 7px -3px #616161;
  -moz-box-shadow: -10px 10px 7px -3px #616161;
  -webkit-box-shadow: -10px 10px 7px -3px #616161;
  -o-box-shadow: -10px 10px 7px -3px #616161;
}
.panel_title {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
.panel_description {
  font-size: 1vw;
  padding-top: 10px;
}
.letter_of_intent_screenshot,
.cv_screenshot,
.reference_letter_screenshot {
  height: 25vh;
  margin-left: 2vw;
  opacity: 0.6;
  box-shadow: -10px 10px 7px -3px #616161;
  -moz-box-shadow: -10px 10px 7px -3px #616161;
  -webkit-box-shadow: -10px 10px 7px -3px #616161;
  -o-box-shadow: -10px 10px 7px -3px #616161;
}
.letter_of_intent_screenshot:hover,
.cv_screenshot:hover,
.reference_letter_screenshot:hover {
  opacity: 1;
}
.cv_section {
  left: -10vw;
}
.reference_letters_section {
  display: flex;
  right: 30vw;
}
.reference_letter {
  text-align: center;
}
.reference_letter_header {
  margin-left: 2vw;
}

/* EXIT DOOR */
.door {
  width: 13vw;
  height: 51vh;
  position: absolute;
  right: 3vw;
  bottom: 35vh;
}
.door_sign {
  text-transform: uppercase;
  color: red;
  font-size: 4vw;
  text-align: center;
}
.door:hover .exit_sign {
  display: none;
}
.thank_you_sign {
  color: white;
  font-size: 2.5vw;
  display: none;
}
.door:hover .thank_you_sign {
  display: unset;
}
