/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

/* WRAPPERS */
.wrapper {
  background: #fceddb;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.label_images_wrapper {
  display: flex;
  padding: 4vh 1vw;
}

/* WALL */
.wall {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

/* BACK BUTTON */
.back_button {
  position: absolute;
  color: #c19b7a;
  font-size: 1em;
  text-decoration: none;
  margin: 2vh 1vw;
}

/* LIGHTS */
.lights {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

/* LABEL CARD */
.label {
  width: 20vw;
  padding: 3vh 2vw;
  background: white;
  color: black;
  font-size: 0.9em;
  margin-bottom: 1vh;
}

.title {
  font-size: 1.8em;
  text-align: center;
}

.title, .subtitle {
  color: #bf6524;
  font-weight: bolder;
}

.title, .medium, .process_intention {
  padding-bottom: 2vh;
}

/* IMAGES */
.images_wrapper {
  margin-left: 3vw;
}

.frame {
  border: 10px solid #1e2a4e;
  border-radius: 1%;
  max-height: 65vh;
  max-width: calc(100vw - 20vw - 10vw);
}

iframe, embed {
  height: 65vh;
  width: 45vw;
}

.thumbnail_images {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0;
  margin: 3vh 0 0 0;
}

.thumbnail_images li {
  margin-right: 2vw;
  list-style: none;
}

.thumbnail_images img {
  width: 10vh;
  height: 10vh;
}

/* SHADOWS */
.frame, .label {
  box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
}
