/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

/* WRAPPERS */
.wrapper {
  background: #fceddb;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}

.label_images_wrapper {
  display: flex;
  align-items: flex-start;
  padding: 4vh 1vw;
}

/* BACK BUTTON */
.back_button {
  position: absolute;
  color: #c19b7a;
  font-size: 1vw;
  text-decoration: none;
  margin: 2.5vh 1.3vw;
}

/* LIGHTS */
.lights {
  display: block;
  margin: 0 auto;
  width: 38vw;
}

/* LABEL CARD */
.label {
  width: 20vw;
  padding: 3vh 2vw;
  background: white;
  color: black;
  font-size: 1vw;
  margin-bottom: 1vh;
  line-height: 1.27vw;
  margin-left: auto;
  z-index: 1;
}

.title {
  font-size: 1.7vw;
  text-align: center;
  padding-bottom: 1vh;
}

.year_created {
  font-size: 0.8vw;
  text-align: center;
}

.title, .subtitle {
  color: #bf6524;
  font-weight: bolder;
}

.year_created, .medium {
  padding-bottom: 2vh;
}

/* IMAGES */
.images_wrapper {
  margin-left: 3vw;
  margin-right: auto;
}

.frame {
  border: 10px solid #1e2a4e;
  border-radius: 1%;
  max-height: 65vh;
  max-width: calc(100vw - 20vw - 10vw);
}

iframe, embed {
  height: 65vh;
  width: 45vw;
}

.thumbnail_images {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0;
  margin: 3vh 0 0 0;
}

.thumbnail_images li {
  margin-right: 2vw;
  list-style: none;
  opacity: 0.6;
}

.thumbnail_images li:hover {
  opacity: 1;
}

.thumbnail_images img {
  width: 10vh;
  height: 10vh;
}

/* SHADOWS */
.frame, .label {
  box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1.1vw 1vw 0.5vw rgba(0, 0, 0, 0.3);
}

/* RESPONSIVE - SMALL SCREENS */
@media only screen and (max-width: 600px) {
  .label_images_wrapper {
    flex-wrap: wrap;
    padding: 3vh 1vw;
  }

  .label {
    width: calc(80vw + 5px);
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 2vw;
    font-size: 2vw;
    line-height: unset;
  }

  .label div {
    padding-bottom: 0.6vh;
  }

  .title {
    font-size: 3vw;
  }

  .year_created {
    font-size: unset;
  }

  .frame {
    max-width: 80vw;
  }

  .images_wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .thumbnail_images {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .house_outer_wrapper {
    width: 80vw;
    height: 75vh;
  }

  .back_button {
    font-size: 2vw;
    margin: 1.5vh 2vw;
  }

  .lights {
    width: 45vw;
  }

  iframe {
    width: 78vw;
    height: 30vh;
  }

  embed {
    width: 98vw;
  }
}
