/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

/* WRAPPERS */
.wrapper {
  background: #fceddb;
  width: 100vw;
  height: 100vh;
}

.frame_wrapper {
  display: flex;
  padding: 20px;
}

/* WALL */
.wall {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

/* LIGHTS */
.lights {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

/* FRAME */
.frame {
  border: 10px solid #1e2a4e;
  border-radius: 5px;
  height: 80vh;
  margin-right: 20px;
}

/* LABEL CARD */
.label {
  width: 20vw;
  padding: 3px;
  border: 3px solid black;
  border-radius: 3px;
  background: white;
  color: black;
  font-size: 1em;
}

.title {
  font-size: 1.5em;
  text-align: center;
}

.subtitle {
  color: #bf6524;
}

.title, .medium, .intention, .creation_date, .credits {
  padding-bottom: 5px;
}

/* SHADOWS */
.frame, .label {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}
